---
title: Hire Me
---

<h1>Let's Work Together</h1>

<p>I'm currently <a href="mailto:sam@samsymons.com?subject=Hire">available for hire</a>.</p>

<p>I can help with:</p>
<ul>
  <li>Test-driven Rails development</li>
  <li>Standards-compliant web development</li>
  <li>iOS and Mac OS X development</li>
</ul>

<p>You can view some of my recent projects <a href="https://github.com/samsymons">on GitHub</a>.</p>

<h2>Let's Talk</h2>

<p>If you think I may be able to help with your project, then <a href="mailto:sam@samsymons.com?subject=Hire">let's talk</a>.</p>

<p><em>Note: I work remotely from British Columbia, Canada.</em></p>
