---
title: Projects
---

<ul id="projects">
    <li class="project">
        <h2>RedditKit</h2>
        <p>An Objective-C wrapper for the reddit API. Available under the MIT license.</p> 

        <ul class="buttons">
          <li><a class="blue-button" href="http://redditkit.com/">Website</a></li>
          <li><a class="blue-button" href="http://github.com/samsymons/RedditKit">GitHub</a></li>
        </ul>
    </li>

    <li class="project">
        <h2>RedditKit.rb</h2>
        <p>A Ruby wrapper for the reddit API. Available under the MIT license.</p> 

        <ul class="buttons">
          <li><a class="blue-button" href="http://redditkit.com/">Website</a></li>
          <li><a class="blue-button" href="http://github.com/samsymons/RedditKit.rb">GitHub</a></li>
        </ul>
    </li>
</ul>
