$background-color: #fff;
$border-color: #f7f5f4;

$link-color: #58B1E3;
$header-link-hover-color: #1B92D4;
$link-hover-color: #72974b;

$light-text-color: #b8bdc0;
$text-color: #222;
$tag-color: #b8bdc0;
