// $background-color: #f9f9f9;
$background-color: #fff;
$border-color: #eae6e1;

$link-color: #92c35f;
$header-link-hover-color: #000;
$link-hover-color: #72974b;

$light-text-color: #9a9a9a;
$text-color: #222;
