/* General Layout: */

html {
  background-color: white;
  font-size: 16px;

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

#header-container {
  border-top: 10px solid $yellow;
  background-color: white;
}

#body-container {
  width: 100%;
  height: 100%;
}

.content {
  @include grid-container;
  
  max-width: 800px;
  margin: auto;
  padding: 0px 20px;
}

.background-content {
  width: 100%;

  margin-bottom: 50px;
}

/* Header: */

#main-header {
  padding: 20px 0px;

  a {
    color: #aaa;
    font-size: 14px;

    transition: color .25s;
  }

  // @include clearfix;
}

#main-title {
  margin: 0px;
  font-weight: normal;

  a {
    display: inline-block;
    float: left;
    line-height: 25px;

    padding-top: 1px;
    box-sizing: border-box;
  }

  @include grid-media($mobile) {
    // @include clearfix();

    margin-bottom: 10px;

    a {
      display: block !important;
      text-align: left;
      float: none !important;
    }
  }
}

#main-navigation ul {
  padding: 0px;
  float: right;

  li {
    margin-right: 18px;
    margin-bottom: 0px;

    display: inline-block;

    &:last-child {
      margin-right: 0px;
    }
  }

  @include grid-media($mobile) {
    // @include clearfix();

    text-align: left;
    float: none;
  }
}

#site-links {
  margin: 0px;
  line-height: 25px;
}

/* Articles: */

.katex-display {
  margin: 30px 0px !important;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px dotted #ddd;
  margin: 1em 0;
  padding: 0; 
}

article {
  // @include clearfix;
  margin-bottom: 70px;

  .tags {
    margin-top: 5px;
    padding: 0;

    li {
      list-style: inline;
      display: inline-block;

      margin-right: 10px;
    }
  }

  img {
    display: block;
    margin: auto;

    max-width: 100%;
  }
}

article:last-child {
  margin-bottom: 0px;
}

.article-title {
  margin: 0;
}

.article-header {
  margin-bottom: 17px;
}

.metadata {
  width: 100%;
  display: block;

  margin-bottom: 30px;
  text-align: center;
}

.badged-header {
  // @include clearfix;
}

/* Archive: */

.year, .month {
  margin-left: 0px;
  padding: 0px;
  list-style: none;
}

.year {
  margin-top: 0;

  li {
    margin-bottom: 40px;
  }
}

.year-header {
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 7px;
  border-bottom: 0.5px solid $border-color;

  font-size: 30px;
}

.month-header {
  font-size: 20px;
  color: $yellow;
}

.month {
  margin-bottom: 25px;

  li {
    margin-bottom: 8px;
  }

  h3 {
    margin-bottom: 7px;
    margin-top: 0;
  }
}

/* Projects */

#projects {
  margin-top: 0;

  list-style: none;
  padding: 0;
}

.project {
  border-bottom: 1px solid #eee;
  padding: 30px 0 34px 0;

  @include grid-media($mobile) {
    text-align: center;
  }

  .blue-button {
    margin-right: 15px;
  }

  .blue-button:last-child {
    margin-right: 0;
  }

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }

  &:first-child {
    padding-top: 0;
  }

  h2 {
    margin-top: 0;
    line-height: 26px;

    font-weight: 400;
  }

  p {
    margin-bottom: 20px;
  }
}

.blue-button {
  display: inline-block;
  padding: 7px 0 6px 0;

  border-radius: 5px;
  color: #ffffff;

  font-size: 15px;
  font-weight: 600;
  line-height: 20px;

  text-align: center;
  text-shadow: 0 -1px 1px #103CA3;

  width: 105px;

  background-image: -o-linear-gradient(-90deg, #84CBFF 0%, #3699F2 44%, #0573EA 100%);
  background-image: -moz-linear-gradient(-90deg, #84CBFF 0%, #3699F2 44%, #0573EA 100%);
  background-image: -webkit-linear-gradient(-90deg, #84CBFF 0%, #3699F2 44%, #0573EA 100%);
  background-image: -ms-linear-gradient(-90deg, #84CBFF 0%, #3699F2 44%, #0573EA 100%);
  background-image: linear-gradient(-180deg, #84CBFF 0%, #3699F2 44%, #0573EA 100%);

  border: 1px solid #0055C7;

  box-shadow: 0px 1px 2px 0px #78A9E8, inset 0px 1px 1px 0px #a8d8ff;

  &:hover {
    color: #ffffff;
    border: 1px solid #0055C7;
  }
}

.buttons {
  padding: 0px;
  list-style: none;

  li {
    display: inline-block;
    margin-right: 10px;
  }

  @include grid-media($mobile) {
    margin-left: 10px;
    text-align: center;
  }
}

// Footer:

footer {
  margin-top: 45px;

  a {
    margin: 0px 3px;
  }
}

.footnotes {
  border-top: 1px solid $border-color;

  a {
    border: none;
  }

  li {
    font-size: 16px;
    line-height: 24px;

    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

// Hacks:

.gist-meta a {
  border-bottom: none;
}
