$sans-serif-font: "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$article-sans-serif-font: "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-font: "minion-pro", serif;

body {
  font-family: $sans-serif-font;
}

p, li {
  margin-top: 0px;

  font-family: $serif-font;
  font-size: 19px;

  line-height: 30px;

  @include media($mobile) {
    font-size: 18px;
    line-height: 28px;
  }
}

code {
  font-family: 'source-code-pro', monospace, sans-serif;
}

#site-links li {
  font-family: $sans-serif-font;
  font-size: 16px;

  line-height: 25px;
}

article {
  color: $text-color;

  h1, h2, h3, h4, h5, h6 {
    font-family: $article-sans-serif-font;

    code {
      background-color: $background-color;
      padding: 0;
      font-size: 28px;
      font-weight: 600;
      border: 0;
    }

    @include media($mobile) {
      font-size: 20px;
      margin-top: 35px;
    }
  }

  .article-title {
    display: inline-block;
    font-size: 28px;


    @include media($mobile) {
      font-size: 24px;
    }
  }

  .article-title a {
    color: $text-color;
    border-bottom: none;

    line-height: 1.2em;

    &:hover {
      border-bottom: none;
    }
  }

  .link {
    color: $light-text-color;

    @include media($mobile) {
      padding-bottom: 5px;
    }
  }

  .permalink {
    margin-top: 19px;

    border-bottom: none;
    font-size: 20px;

    &:hover {
      border-bottom: none;
    }
  }

  @include media($mobile) {
    font-size: 16px;
    line-height: 28px;
  }
}

.metadata-separator {
  margin: 0px 7px;
}

.metadata, footer p, footer a {
  color: $light-text-color;

  font-family: $sans-serif-font;
  font-size: 16px;

  @include media($mobile) {
    font-size: 15px;
  }
}

.blue-button {
  font-family: $sans-serif-font;
}

h1, h2, h3 {
  margin: 25px 0px 10px 0px;

  font-family: $sans-serif-font;
  font-weight: 600;
}

h1 {
  margin-top: 0px;
  font-size: 36px;
}

h2 {
  @include clearfix;
}

/*
  We have to tweak the H2 tags in order to get any badges to show correctly.
  Without floating to the left and setting the width to 100%, badges will be misaligned vertically.
*/
.badged-header > h2 {
  margin-top: 17px;

  display: inline-block;
  float: left;
}

p {
  margin-top: 0px;
}

a {
  text-decoration: none;
  color: $text-color;

  border-bottom: 1px solid $link-color;
}

blockquote {
  margin: 0px;
  padding: 0px 10px;

  border-left: 3px solid #eee;
  color: $light-text-color;

  font-style: italic;

  a {
    color: darken($light-text-color, 20%);
  }
}

#main-header a {
  border-bottom: none;
}

#main-header .active {
  font-weight: bold;
  color: $header-link-hover-color;
}

footer a {
  transition: color 0.25s linear;

  &:hover {
    color: $text-color;
  }
}
