$sans-serif-font: "Gotham SSm A", "Gotham SSm B", "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-font: "Hoefler Titling A", "Hoefler Titling B", "Noto Serif", serif;

body {
  font-family: $sans-serif-font;
}

p, li {
  margin-top: 0px;

  font-family: $sans-serif-font;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;

  line-height: 30px;

  @include media($mobile) {
    font-size: 18px;
    line-height: 26px;
  }
}

code {
  font-family: 'Source Code Pro', monospace, sans-serif;
}

#site-links li {
  font-family: $sans-serif-font;
  font-size: 16px;

  line-height: 25px;
}

article {
  color: $text-color;

  h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
    font-weight: 300;

    code {
      background-color: $background-color;
      padding: 0;
      font-size: 28px;
      font-weight: 600;
      border: 0;
    }

    @include media($mobile) {
      font-size: 20px;
      margin-top: 35px;
    }
  }

  h4 {
    margin-top: 40px;
    display: block;
    border-bottom: 1px solid $border-color;
  }

  a {
    @include transition(color .25s);

    &:hover {
      color: $link-color;
    }
  }

  .article-title {
    display: block;
    margin-bottom: 20px;

    font-size: 34px;
    text-align: center;

    @include media($mobile) {
      font-size: 24px;
    }
  }

  .article-title a {
    color: $text-color;
    border-bottom: none;

    line-height: 1.2em;

    @include transition(color .3s);

    &:hover {
      border-bottom: 0;
      color: $link-color;
    }
  }

  .tag a {
    padding: 3px 5px 1px 5px;

    color: $tag-color;
    border-radius: 4px;

    font-family: $sans-serif-font;
    font-size: 13px;
    font-weight: 500;

    border: 1px solid $border-color;
  }

  .link {
    color: $light-text-color;

    @include media($mobile) {
      padding-bottom: 5px;
    }
  }

  .permalink {
    margin-top: 19px;

    border-bottom: none;
    font-size: 20px;

    &:hover {
      border-bottom: none;
    }
  }

  @include media($mobile) {
    font-size: 16px;
    line-height: 28px;
  }
}

h1#category-title {
  margin-bottom: 45px;

  color: $link-color;

  font-size: 30px;
}

.metadata-separator {
  margin: 0px 7px;
}

.metadata, footer p, footer a {
  color: $light-text-color;

  font-family: $sans-serif-font;
  font-size: 14px;

  @include media($mobile) {
    font-size: 15px;
  }
}

.blue-button {
  font-family: $sans-serif-font;
}

h1, h2, h3 {
  margin: 40px 0px 10px 0px;

  font-family: $heading-font;
  font-weight: 400;
}

h1 {
  margin-top: 0px;
  font-size: 36px;
}

#main-title {
  font-family: $sans-serif-font;
}

h2 {
  @include clearfix;
}

h3 {
  font-size: 24px;
}

/*
  We have to tweak the H2 tags in order to get any badges to show correctly.
  Without floating to the left and setting the width to 100%, badges will be misaligned vertically.
*/
.badged-header > h2 {
  margin-top: 17px;

  display: inline-block;
  float: left;
}

p {
  margin-top: 0px;
}

a {
  text-decoration: none;
  color: $link-color;

  border-bottom: 2px solid lighten($link-color, 15%);

  &:hover {
    border-bottom: 2px solid $link-color;
  }
}

blockquote {
  margin: 25px 0px 0px 0px;
  padding: 0px 10px;

  border-left: 3px solid #eee;
  color: $light-text-color;

  font-style: italic;

  a {
    color: $light-text-color;
  }
}

#main-header a {
  border-bottom: none;
  font-size: 15px;
}

#main-header .active {
  font-weight: 600;
  color: white;
}

footer a {
  transition: color 0.15s linear;

  &:hover {
    color: $text-color;
  }
}
