pre:not(.line-pre) {
  font-size: 14px;
  line-height: 20px;
  word-wrap: normal;

  @include grid-media($mobile) {
    padding: 2px 6px;
  }
}

code {
  background-color: #fafafa;
  box-sizing: border-box;
  border-radius: 4px;

  padding: 2px 6px;

  font-size: 14px;
  line-height: 20px;

  @include grid-media($mobile) {
    padding: 0 4px;
  }
}

pre code {
  display: block;

  padding: 5px 7px;

  margin: 0px;
  border: none;

  word-wrap: normal;
  white-space: pre;

  overflow: auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
