<article class="article-preview">
  <div class="article-header">
    <% if article.data.link %>
      <h1 class="article-title link"><%= link_to formatted_title(article.title), article.data.link %> &rarr;</h1>
    <% else %>
      <h1 class="article-title"><%= link_to formatted_title(article.title), article %></h1>
    <% end %>

    <span class="metadata">
      <%= metadata_for_article(article) %>
    </span>
  </div>

  <%= article.summary %>
</article>
