---
pageable: true
---

<div id="introduction">
  <p>Hi, I'm Sam! I am an iOS developer with an interest in machine learning and computer graphics. Here, I write about my adventures in Swift and mathematics.</p>
</div>

<div id="articles">
  <% page_articles[0...5].each do |current_article| %>
    <%= partial('/layouts/partials/article-preview', :locals => { :article => current_article }) %>
  <% end %>
</div>

<li><%= navigation_link_to 'Previous articles', '/archive/' %></li>
