{{ define "main" }}
{{ $paginator := .Paginate ((where .Site.Pages "Kind" "page").GroupByDate "2006-01") -}}
<section class="archives">
  <ul>
    {{- range $paginator.PageGroups }}
    <li class="archives-month">{{ .Key }}</li>
    <li class="archives-monthly-container">
      {{- range .Pages }}
      <ul>
        <li class="archives-item">
          <a href="{{ .Permalink | relURL }}">{{ .Title }}</a>
          <time>{{ .Date.Format (default "January 2, 2006" $.Site.Params.dateFormat) }}</time>
        </li>
      </ul>
      {{- end }}
    </li>
    {{- end }}
  </ul>
</section>
{{ end }}
